#header{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
}
p{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 350;
}
#first_image{
    display:grid;
    grid-template-columns: 1fr;
    width:150px;
}
#second_image{
    display:grid;
    grid-template-columns: 1fr;
    width:150px;
}
#third_image{
    display:grid;
    grid-template-columns: 1fr;
    width:150px;
}