#header{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
}
p{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 350;

}
#first_image{
    display:grid;
    grid-template-columns: 1fr;
    width:150px;
    margin:10px;
    padding:15px;
}
#second_image{
    display:grid;
    grid-template-columns: 1fr;
    width:150px;
    margin:15px;
    padding:15px;
}
#third_image{
    display:grid;
    grid-template-columns: 1fr;
    width:150px;
    margin:15px;
    padding:15px;
}
#first_list{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 350;
  color:rgb(246, 86, 0)
}
#second_header{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;

}
#hidden, #hidden_image{
    display:none
}

