#header{
  font-family: "Exo 2",Arial, sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
}
p{
  font-family: "Lexend",Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 350;

}
#first_list{
  display:grid;
  grid-template-columns: 1fr;
  width:1200px;
  margin:5px;
  padding:5px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 350;
  color:rgb(246, 86, 0)
  
}
#second_header{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;

}
#hidden, #hidden_image{
    display:none;
}
#images{
display:flex;
justify-content: center;
align-items: center;
gap:20px;
padding:20px;
}
#first_image,#second_image,#third_image{
  width:300px;
  height:200px;
  margin:10px;
  padding:0;

}
#all{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:20px;


}
