body{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(187, 124, 7);
  color: rgb(194, 194, 194);
  padding:50px;
}
#second_image{
 width:100%;  
 height:auto;         
}
#photos1{
    display:flex;
    flex-direction: column;
    width:25%;
    margin-bottom:15px;
}

#first-p{
    display: grid;
    grid-template-columns: 1fr;
    padding:25px;
    margin:2%;
    
}
#second-p{
    display: grid;
    grid-template-columns: 1fr;
    padding:25px;
    margin:2%;

}
#all{
display: grid;
grid-template-columns: 1fr;
margin:20px;
padding:20px;

}
#hidden, #hidden_image{
    display:none
}