p{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin:5px;
}
button{
    padding: 50px;
    margin:50px;
}
img{
    width: 150px;
}
#content-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#img-wrapper{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
#hidden{
    display:none;
}